<h1>Update Song</h1>

<%= form_for(@song) do |f| %>
    <%=f.label :name %>
    <%=f.text_field :name %>
    <br>
    <%=f.label :artist_id %>
    <%=f.text_field :artist_id %>
    <br>
    <%=f.label :genre_id %>
    <%=f.text_field :genre_id %>
    <!-- <label for="artist">Artist: </label>
    <%= f.collection_select( :artist_id, Artist.all, :id, :name, prompt: true)%> 
    <br>
    <label for="genre">Genre: </label>
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, prompt: true)%>  -->
    <br>
    <%=f.submit%>
<% end %>
  